beautifulsoup4==4.11.1
colorama==0.4.4
db==0.1.1
img2pdf==0.4.4
pdfkit==1.0.0
Pillow==9.2.0
pymongo==4.2.0
PyMySQL==1.0.2
pyshadow==0.0.4
python-decouple==3.6
requests==2.25.1
selenium==4.5.0
TwoCaptcha==0.0.1
undetected_chromedriver==3.1.5.post4